<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sa="http://www.thymeleaf.org/extras/sa-token">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>菜单按钮</title>
    <!-- element-ui 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
          th:href="@{/static/element-ui/index.css}">
    <style>
        .container {
            padding: 5px;
        }

        .container .search-box {
            margin-bottom: 20px;
        }

        .container .content-header {
            margin-bottom: 10px;
        }

        .container .content-header .content-header-right {
            text-align: right;
        }
    </style>
</head>
<body>

<div id="app" class="container">
    <el-card class="box-card search-box" v-show="showSearch">
        <el-form :inline="true" :model="formDto" class="demo-form-inline">
            <el-form-item label="关键词检索">
                <el-input v-model="formDto.keyword" placeholder="请输入关键词"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="searchList">查询</el-button>
            </el-form-item>
        </el-form>
    </el-card>

    <el-card class="box-card">
        <section class="content-header">
            <el-row :gutter="2">
                <el-col :span="11">
                    <el-button sa:hasPermissionOr="business:appUser:list:add,admin" @click="add" type="success"
                               size="mini" icon="el-icon-plus">新增
                    </el-button>
                    <el-button sa:hasPermissionOr="business:appUser:list:del,admin" @click="batchDel" type="danger"
                               size="mini" icon="el-icon-delete">删除
                    </el-button>
                </el-col>
                <div class="content-header-right">
                    <el-button type="primary" @click="showSearchBox" size="mini" icon="el-icon-search"
                               circle></el-button>
                </div>
            </el-row>

        </section>

        <!-- Main content -->
        <section class="content">
            <el-table
                    :data="tableData"
                    style="width: 100%;margin-bottom: 20px;"
                    row-key="id"
                    border
                    @selection-change="handleSelectionChange"
            >
                <el-table-column type="selection" width="55"></el-table-column>
                <el-table-column prop="id" label="主键ID" width="100"></el-table-column>
                <el-table-column prop="username" label="用户名" width="100"></el-table-column>
                <el-table-column prop="nickname" label="用户昵称" width="130"></el-table-column>
                <el-table-column prop="avatar" label="头像" width="100">
                    <template slot-scope="scope">
                        <el-avatar :size="35" :src="scope.row.avatar"></el-avatar>
                    </template>
                </el-table-column>
                <el-table-column prop="roleType" label="角色类型" width="120">
                    <template slot-scope="scope">
                        <el-tag v-if="scope.row.roleType==1">C端消费者</el-tag>
                        <el-tag v-if="scope.row.roleType==2">B端采购商</el-tag>
                        <el-tag v-if="scope.row.roleType==3">入驻商家</el-tag>
                        <el-tag v-if="scope.row.roleType==4">平台管理员</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="realName" label="真实姓名" width="100"></el-table-column>
                <el-table-column prop="phone" label="手机号" width="120"></el-table-column>
                <el-table-column prop="openid" label="OpenID" width="200"></el-table-column>
                <el-table-column prop="unionid" label="微信UnionID" width="200"></el-table-column>
                <el-table-column prop="status" label="账号状态" width="100">
                    <template slot-scope="scope">
                        <el-tag type="success" v-if="scope.row.status==1">正常</el-tag>
                        <el-tag type="danger" v-if="scope.row.status==0">已禁用</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="extraJson" label="扩展字段" width="200">
                    <template slot-scope="scope">
                        <span :title="scope.row.extraJson">{{ truncateText(scope.row.extraJson,20) }}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="createTime" label="创建时间" width="160"></el-table-column>
                <el-table-column prop="updateTime" label="更新时间" width="160"></el-table-column>
                <el-table-column
                        fixed="right"
                        label="操作"
                        width="140">
                    <template slot-scope="scope">
                        <el-tooltip sa:hasPermissionOr="business:appUser:list:edit,admin" class="item" effect="dark"
                                    content="编辑" placement="top-start">
                            <el-button @click="edit(scope.row)" type="primary" icon="el-icon-edit" size="mini"
                                       circle></el-button>
                        </el-tooltip>
                        <el-tooltip sa:hasPermissionOr="business:appUser:list:del,admin" class="item" effect="dark"
                                    content="删除" placement="top-start">
                            <el-button v-if="scope.row.username != 'admin'" @click="del(scope.row.id)" type="danger"
                                       icon="el-icon-delete" size="mini"
                                       circle></el-button>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>

            <div class="page-box" v-show="pageDto.pageCount>1">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        @prev-click="prePage"
                        @next-click="nextPage"
                        :current-page="pageDto.currentPage"
                        :page-size="pageDto.pagerCount"
                        :page-count="pageDto.pageCount"
                        :pager-count="pageDto.pagerCount"
                        layout="sizes,prev, pager, next"
                        :page-sizes="[10, 20, 30, 40, 50, 100]"
                        :total="pageDto.total">
                </el-pagination>
            </div>
        </section>
    </el-card>


    <el-dialog :title="dialogTitle" :visible.sync="addDialogVisible">
        <el-form :model="itemData" :rules="rules" ref="itemData">

            <el-form-item label="id" prop="id" :label-width="formLabelWidth" style="display: none">
                <el-input v-model="itemData.id" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="OpenID" prop="openid" :label-width="formLabelWidth">
                <el-input v-model="itemData.openid" autocomplete="off" placeholder="请输入微信小程序OpenID"></el-input>
            </el-form-item>

            <el-form-item label="UnionID" prop="unionid" :label-width="formLabelWidth">
                <el-input v-model="itemData.unionid" autocomplete="off" placeholder="请输入微信UnionID"></el-input>
            </el-form-item>

            <el-form-item label="用户名" prop="username" :label-width="formLabelWidth">
                <el-input v-model="itemData.username" autocomplete="off" placeholder="请输入用户名/手机号"></el-input>
            </el-form-item>

            <el-form-item label="用户昵称" prop="nickname" :label-width="formLabelWidth">
                <el-input v-model="itemData.nickname" autocomplete="off" placeholder="请输入用户昵称"></el-input>
            </el-form-item>

            <el-form-item label="头像URL" prop="avatar" :label-width="formLabelWidth">
                <el-input v-model="itemData.avatar" autocomplete="off"></el-input>
                <el-upload
                        class="upload-demo"
                        drag
                        :limit="1"
                        :before-upload="beforeAvatarUpload"
                        :on-success="uploadSuccess"
                        :action="uploadUrl"
                        list-type="picture">
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                    <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
                </el-upload>
            </el-form-item>

            <el-form-item label="角色类型 " prop="roleType" :label-width="formLabelWidth">
                <el-input v-model="itemData.roleType" autocomplete="off"
                          placeholder="请输入角色类型 1:C端消费者 2:B端采购商 3:入驻商家 4:平台管理员"></el-input>
            </el-form-item>

            <el-form-item label="真实姓名" prop="realName" :label-width="formLabelWidth">
                <el-input v-model="itemData.realName" autocomplete="off" placeholder="请输入真实姓名"></el-input>
            </el-form-item>

            <el-form-item label="手机号" prop="phone" :label-width="formLabelWidth">
                <el-input v-model="itemData.phone" autocomplete="off" placeholder="请输入手机号"></el-input>
            </el-form-item>

            <el-form-item label="账号状态" prop="status" :label-width="formLabelWidth">
                <el-select v-model="itemData.status" placeholder="请选择账号状态">
                    <el-option label="禁用" :value="0"></el-option>
                    <el-option label="正常" :value="1"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="扩展字段" prop="extraJson" :label-width="formLabelWidth">
                <el-input type="textarea" v-model="itemData.extraJson" autocomplete="off" placeholder="请输入扩展字段"></el-input>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="saveOrUpdate">{{dialogTitle}}</el-button>
        </div>
    </el-dialog>

</div>
<!-- element-ui -->
<script src="https://unpkg.com/vue@2/dist/vue.js" th:src="@{/static/vue/vue.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js" th:src="@{/static/vue/axios.min.js}"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/element-ui/lib/index.js" th:src="@{/static/element-ui/index.js}"></script>
<script th:src="@{/static/vue/api.js}"></script>
<script type="text/javascript" th:inline="javascript">
    let ctx = [[@{/}]];
        new Vue({
            el: '#app',
            data: function () {
                return {
                    listUrl: ctx + 'business/appUser/list',
                    delUrl: ctx + 'business/appUser/del?id=',
                    batchDelUrl: ctx + 'business/appUser/batchDel',
                    addUrl: ctx + 'business/appUser/add',
                    editUrl: ctx + 'business/appUser/edit',
                    uploadUrl: ctx + 'upload/image',
                    dialogUrl: '',
                    tableData: [],
                    multipleSelection: [],
                    formDto: {
                        keyword: '',
                        region: ''
                    },
                    showSearch: false,
                    pageDto: {
                        currentPage: 1,
                        pageSize: 10,
                        total: 110,
                        pageCount: 1, //总页数
                        pagerCount: 9, //页码按钮的数量
                    },
                    addDialogVisible: false,
                    itemData: {
                        menuIdList: [],
                    },
                    dialogTitle: '新增',
                    formLabelWidth: '100px',
                    formTimeLabelWidth: '120px',
                    pickerOptions: {
                        disabledDate(time) {
                            return time.getTime() > Date.now();
                        },
                        shortcuts: [{
                            text: '今天',
                            onClick(picker) {
                                picker.$emit('pick', new Date());
                            }
                        }, {
                            text: '昨天',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24);
                                picker.$emit('pick', date);
                            }
                        }, {
                            text: '一周前',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', date);
                            }
                        }]
                    },
                    rules: {
                        username: [
                            {required: true, message: '请输入用户名/手机号', trigger: 'blur'},
                        ],

                        nickname: [
                            {required: true, message: '请输入用户昵称', trigger: 'blur'},
                        ],

                    }

                }
            },
            methods: {
                searchList: function () {
                    this.pageDto.currentPage=1;
                    this.requestData();
                },
                requestData: function () {
                    // 列表检索
                    let url = this.listUrl + '?pageNum=' + this.pageDto.currentPage + '&pageSize=' + this.pageDto.pageSize;
                    axios.post(url, this.formDto).then(r => {
                        if (r.data.code === 200) {
                            let data = r.data.data;
                            this.pageDto.total = Number(data.total);
                            this.pageDto.pageCount = Number(data.pages);
                            this.tableData = data.records;
                        }
                    }).catch(error => {
                        console.error("请求失败：", error);
                        ELEMENT.Message({
                            showClose: true,
                            message: "请求失败，请稍后重试",
                            type: 'error'
                        });
                    })
                },
                prePage() {
                    this.pageDto.currentPage -= 1;
                    this.requestData();
                },
                nextPage() {
                    this.pageDto.currentPage += 1;
                    this.requestData();
                },
                handleSizeChange(val) {
                    this.pageDto.pageSize = val;
                    this.requestData();
                },
                handleCurrentChange(val) {
                    this.pageDto.currentPage = val;
                    this.requestData();
                },
                handleSelectionChange(val) {
                    //当选择项发生变化时会触发该事件
                    this.multipleSelection = val;
                },
                showSearchBox() {
                    this.showSearch = !this.showSearch;
                },
                add() {
                    this.addDialogVisible = true;
                    this.dialogTitle = '新增';
                    this.dialogUrl = this.addUrl;
                    this.itemData = {};
                },
                edit(row) {
                    this.addDialogVisible = true;
                    this.dialogTitle = '编辑';
                    this.itemData = row;
                    this.dialogUrl = this.editUrl;
                },
                saveOrUpdate() {
                    this.$refs['itemData'].validate((valid) => {
                        if (valid) {
                            requestPost(this.dialogUrl, this.itemData);
                        } else {
                            return false;
                        }
                    });
                },
                batchDel() {
                    let ids = this.multipleSelection.map(i => i.id);
                    if (!ids.length) {
                        // 数组为空
                        ELEMENT.Message({
                            showClose: true,
                            message: "您未选中任何内容",
                            type: 'warning'
                        });
                        return false;
                    }
                    ELEMENT.MessageBox.confirm('确定删除选中的列表数据?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        requestPost(this.batchDelUrl, ids);
                    }).catch(() => {
                        ELEMENT.Message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                del(id) {
                    ELEMENT.MessageBox.confirm('确定删除该数据吗?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        requestGet(this.delUrl + id);
                    }).catch(() => {
                        ELEMENT.Message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                uploadSuccess(res, file, fileList) {
                    console.log("res:", res);
                    if (res.code === 200) {
                        this.itemData.avatar = res.data;
                    } else {
                        ELEMENT.Message({
                            showClose: true,
                            message: "上传失败，请稍后重试",
                            type: 'warning'
                        });
                    }
                },
                beforeAvatarUpload(file) {
                    const isJPG = (file.type === 'image/jpeg' || file.type === 'image/png');
                    const isLt2M = file.size / 1024 / 1024 < 10;
                    if (!isJPG) {
                        ELEMENT.Message.error('上传头像图片只能是 JPG/PNG 格式!');
                    }
                    if (!isLt2M) {
                        ELEMENT.Message.error('上传头像图片大小不能超过 2MB!');
                    }
                    return isJPG && isLt2M;
                },
                truncateText(text, maxLength = 30) {
                    if (text && text.length > maxLength) {
                        return text.slice(0, maxLength) + '...';
                    }
                    return text;
                }
            }, created() {
                this.searchList();
            }
        });
</script>

</body>
</html>
