<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sa="http://www.thymeleaf.org/extras/sa-token">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>菜单按钮</title>
    <!-- element-ui 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
          th:href="@{/static/element-ui/index.css}">
    <style>
        .container {
            padding: 5px;
        }

        .container .search-box {
            margin-bottom: 20px;
        }

        .container .content-header {
            margin-bottom: 10px;
        }

        .container .content-header .content-header-right {
            text-align: right;
        }
    </style>
</head>
<body>

<div id="app" class="container">
    <el-card class="box-card search-box" v-show="showSearch">
        <el-form :inline="true" :model="formDto" class="demo-form-inline">
            <el-form-item label="关键词检索">
                <el-input v-model="formDto.keyword" placeholder="请输入关键词"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="searchList">查询</el-button>
            </el-form-item>
        </el-form>
    </el-card>

    <el-card class="box-card">
        <section class="content-header">
            <el-row :gutter="2">
                <el-col :span="11">
                    <el-button sa:hasPermissionOr="business:bizAddress:list:add,admin" @click="add" type="success"
                               size="mini" icon="el-icon-plus">新增
                    </el-button>
                    <el-button sa:hasPermissionOr="business:bizAddress:list:del,admin" @click="batchDel" type="danger"
                               size="mini" icon="el-icon-delete">删除
                    </el-button>
                </el-col>
                <div class="content-header-right">
                    <el-button type="primary" @click="showSearchBox" size="mini" icon="el-icon-search"
                               circle></el-button>
                </div>
            </el-row>

        </section>

        <!-- Main content -->
        <section class="content">
            <el-table
                    :data="tableData"
                    style="width: 100%;margin-bottom: 20px;"
                    row-key="id"
                    border
                    @selection-change="handleSelectionChange"
            >
                <el-table-column type="selection" width="55"></el-table-column>
                <el-table-column prop="id" label="主键ID" width="100"></el-table-column>
                <el-table-column prop="userId" label="用户ID" width="100"></el-table-column>
                <el-table-column prop="realName" label="收货人姓名" width="100"></el-table-column>
                <el-table-column prop="phone" label="收货人电话" width="120"></el-table-column>
                <el-table-column prop="province" label="省份" width="100"></el-table-column>
                <el-table-column prop="city" label="城市" width="100"></el-table-column>
                <el-table-column prop="district" label="区县" width="100"></el-table-column>
                <el-table-column prop="detailAddress" label="详细地址" width="200"></el-table-column>
                <el-table-column prop="isDefault" label="默认地址" width="100">
                    <template slot-scope="scope">
                        <el-tag type="success" v-if="scope.row.isDefault==1">是</el-tag>
                        <el-tag v-if="scope.row.isDefault==0">否</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="createTime" label="创建时间" width="160"></el-table-column>
                <el-table-column prop="updateTime" label="更新时间" width="160"></el-table-column>
                <el-table-column
                        fixed="right"
                        label="操作"
                        width="140">
                    <template slot-scope="scope">
                        <el-tooltip sa:hasPermissionOr="business:bizAddress:list:edit,admin" class="item" effect="dark"
                                    content="编辑" placement="top-start">
                            <el-button @click="edit(scope.row)" type="primary" icon="el-icon-edit" size="mini"
                                       circle></el-button>
                        </el-tooltip>
                        <el-tooltip sa:hasPermissionOr="business:bizAddress:list:del,admin" class="item" effect="dark"
                                    content="删除" placement="top-start">
                            <el-button v-if="scope.row.username != 'admin'" @click="del(scope.row.id)" type="danger"
                                       icon="el-icon-delete" size="mini"
                                       circle></el-button>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>

            <div class="page-box" v-show="pageDto.pageCount>1">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        @prev-click="prePage"
                        @next-click="nextPage"
                        :current-page="pageDto.currentPage"
                        :page-size="pageDto.pagerCount"
                        :page-count="pageDto.pageCount"
                        :pager-count="pageDto.pagerCount"
                        layout="sizes,prev, pager, next"
                        :page-sizes="[10, 20, 30, 40, 50, 100]"
                        :total="pageDto.total">
                </el-pagination>
            </div>
        </section>
    </el-card>


    <el-dialog :title="dialogTitle" :visible.sync="addDialogVisible">
        <el-form :model="itemData" :rules="rules" ref="itemData">

            <el-form-item label="id" prop="id" :label-width="formLabelWidth" style="display: none">
                <el-input v-model="itemData.id" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="用户ID" prop="userId" :label-width="formLabelWidth">
                <el-input v-model="itemData.userId" autocomplete="off" placeholder="请输入用户ID"></el-input>
            </el-form-item>

            <el-form-item label="收货人姓名" prop="realName" :label-width="formLabelWidth">
                <el-input v-model="itemData.realName" autocomplete="off" placeholder="请输入收货人姓名"></el-input>
            </el-form-item>

            <el-form-item label="收货人电话" prop="phone" :label-width="formLabelWidth">
                <el-input v-model="itemData.phone" autocomplete="off" placeholder="请输入收货人电话"></el-input>
            </el-form-item>

            <el-form-item label="地区" prop="region" :label-width="formLabelWidth">
                <el-cascader
                    v-model="regionValue"
                    :options="regionOptions"
                    @change="handleRegionChange"
                    placeholder="请选择省市区"
                    style="width: 100%"
                    :props="regionProps"
                    filterable
                ></el-cascader>
            </el-form-item>

            <el-form-item label="省份" prop="province" :label-width="formLabelWidth" >
                <el-input v-model="itemData.province" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="城市" prop="city" :label-width="formLabelWidth" >
                <el-input v-model="itemData.city" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="区县" prop="district" :label-width="formLabelWidth" >
                <el-input v-model="itemData.district" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="详细地址" prop="detailAddress" :label-width="formLabelWidth">
                <el-input v-model="itemData.detailAddress" autocomplete="off" placeholder="请输入详细地址"></el-input>
            </el-form-item>

            <el-form-item label="默认地址" prop="isDefault" :label-width="formLabelWidth">
                <el-radio-group v-model="itemData.isDefault">
                    <el-radio :label="0">否</el-radio>
                    <el-radio :label="1">是</el-radio>
                </el-radio-group>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="saveOrUpdate">{{dialogTitle}}</el-button>
        </div>
    </el-dialog>

</div>
<!-- element-ui -->
<script src="https://unpkg.com/vue@2/dist/vue.js" th:src="@{/static/vue/vue.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js" th:src="@{/static/vue/axios.min.js}"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/element-ui/lib/index.js" th:src="@{/static/element-ui/index.js}"></script>
<script th:src="@{/static/vue/api.js}"></script>
<script type="text/javascript" th:inline="javascript">
    let ctx = [[@{/}]];
        new Vue({
            el: '#app',
            data: function () {
                return {
                    listUrl: ctx + 'business/bizAddress/list',
                    delUrl: ctx + 'business/bizAddress/del?id=',
                    batchDelUrl: ctx + 'business/bizAddress/batchDel',
                    addUrl: ctx + 'business/bizAddress/add',
                    editUrl: ctx + 'business/bizAddress/edit',
                    dialogUrl: '',
                    tableData: [],
                    multipleSelection: [],
                    formDto: {
                        keyword: '',
                        region: ''
                    },
                    showSearch: false,
                    pageDto: {
                        currentPage: 1,
                        pageSize: 10,
                        total: 110,
                        pageCount: 1, //总页数
                        pagerCount: 9, //页码按钮的数量
                    },
                    addDialogVisible: false,
                    itemData: {
                        menuIdList: [],
                    },
                    dialogTitle: '新增',
                    formLabelWidth: '100px',
                    formTimeLabelWidth: '120px',
                    pickerOptions: {
                        disabledDate(time) {
                            return time.getTime() > Date.now();
                        },
                        shortcuts: [{
                            text: '今天',
                            onClick(picker) {
                                picker.$emit('pick', new Date());
                            }
                        }, {
                            text: '昨天',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24);
                                picker.$emit('pick', date);
                            }
                        }, {
                            text: '一周前',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', date);
                            }
                        }]
                    },
                    rules: {
                        userId: [
                            {required: true, message: '请输入用户ID', trigger: 'blur'},
                        ],
                        realName: [
                            {required: true, message: '请输入收货人姓名', trigger: 'blur'},
                        ],
                        phone: [
                            {required: true, message: '请输入收货人电话', trigger: 'blur'},
                        ],
                        province: [
                            {required: true, message: '请输入省份', trigger: 'blur'},
                        ],
                        city: [
                            {required: true, message: '请输入城市', trigger: 'blur'},
                        ],
                        district: [
                            {required: true, message: '请输入区县', trigger: 'blur'},
                        ],
                        detailAddress: [
                            {required: true, message: '请输入详细地址', trigger: 'blur'},
                        ],

                    },
                    // 动态级联
                    regionProps: {
                        value: 'code',
                        label: 'name',
                        checkStrictly: false,
                        lazy: true,
                        lazyLoad: (node, resolve) => {
                            this.loadRegion(node, resolve);
                        },
                    },
                    regionDto:{
                        "level":1,
                        "parentCode":''
                    },
                    // 省市区级联数据
                    regionOptions: [],
                    // 省市区选中值
                    regionValue: [],
                    // 省市区名称映射
                    regionMap: {}

                }
            },
            methods: {
                searchList: function () {
                    // 列表检索
                    let url = this.listUrl + '?pageNum=' + this.pageDto.currentPage + '&pageSize=' + this.pageDto.pageSize;
                    axios.post(url, this.formDto).then(r => {
                        if (r.data.code === 200) {
                            let data = r.data.data;
                            this.pageDto.total = Number(data.total);
                            this.pageDto.pageCount = Number(data.pages);
                            this.tableData = data.records;
                        }
                    }).catch(error => {
                        console.error("请求失败：", error);
                        ELEMENT.Message({
                            showClose: true,
                            message: "请求失败，请稍后重试",
                            type: 'error'
                        });
                    })
                },
                prePage() {
                    this.pageDto.currentPage -= 1;
                    this.searchList();
                },
                nextPage() {
                    this.pageDto.currentPage += 1;
                    this.searchList();
                },
                handleSizeChange(val) {
                    this.pageDto.pageSize = val;
                    this.searchList();
                },
                handleCurrentChange(val) {
                    this.pageDto.currentPage = val;
                    this.searchList();
                },
                handleSelectionChange(val) {
                    //当选择项发生变化时会触发该事件
                    this.multipleSelection = val;
                },
                showSearchBox() {
                    this.showSearch = !this.showSearch;
                },
                add() {
                    this.addDialogVisible = true;
                    this.dialogTitle = '新增';
                    this.dialogUrl = this.addUrl;
                    this.itemData = {};
                    // 清空级联选择器值
                    this.regionValue = [];
                },
                edit(row) {
                    this.addDialogVisible = true;
                    this.dialogTitle = '编辑';
                    this.itemData = row;
                    this.dialogUrl = this.editUrl;
                    // 根据已有的省市区值设置级联选择器
                    this.setRegionValue(row.province, row.city, row.district);
                },
                saveOrUpdate() {
                    this.$refs['itemData'].validate((valid) => {
                        if (valid) {
                            requestPost(this.dialogUrl, this.itemData);
                        } else {
                            return false;
                        }
                    });
                },
                batchDel() {
                    let ids = this.multipleSelection.map(i => i.id);
                    if (!ids.length) {
                        // 数组为空
                        ELEMENT.Message({
                            showClose: true,
                            message: "您未选中任何内容",
                            type: 'warning'
                        });
                        return false;
                    }
                    ELEMENT.MessageBox.confirm('确定删除选中的列表数据?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        requestPost(this.batchDelUrl, ids);
                    }).catch(() => {
                        ELEMENT.Message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                del(id) {
                    ELEMENT.MessageBox.confirm('确定删除该数据吗?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        requestGet(this.delUrl + id);
                    }).catch(() => {
                        ELEMENT.Message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                // 初始化省份数据
                initProvince() {
                    this.regionDto.level = 1;
                    this.regionDto.parentCode = '';
                    let url = ctx + `base/baseRegion/list?pageNum=-1&pageSize=-1`;
                    axios.post(url, this.regionDto).then(r => {
                        if (r.data.code === 200) {
                            let data = r.data.data;
                            let regionData = data.records;
                            let options = [];
                            regionData.forEach(item => {
                                // 构建省份数据结构
                                let option = {
                                    code: item.code,
                                    name: item.name,
                                    leaf: false
                                };
                                // 存储 code 到 name 的映射
                                this.regionMap[item.code] = item.name;
                                options.push(option);
                            });
                            this.regionOptions = options;
                        }
                    }).catch(error => {
                        console.error("请求失败：", error);
                        ELEMENT.Message({
                            showClose: true,
                            message: "请求失败，请稍后重试",
                            type: 'error'
                        });
                    });
                },
                // 动态加载地区数据
                loadRegion(node, resolve) {
                    let level = node.level + 1;
                    let parentCode = node.data.code;
                    this.regionDto.level = level;
                    this.regionDto.parentCode = parentCode;
                    let url = ctx + `base/baseRegion/list?pageSize=-1`;
                    axios.post(url, this.regionDto).then(r => {
                        if (r.data.code === 200) {
                            let data = r.data.data;
                            let regionData = data.records;
                            let options = [];
                            regionData.forEach(item => {
                                // 构建地区数据结构
                                let option = {
                                    code: item.code,
                                    name: item.name,
                                    leaf: level >= 3 // 区县为叶子节点
                                };
                                // 存储 code 到 name 的映射
                                this.regionMap[item.code] = item.name;
                                options.push(option);
                            });
                            resolve(options);
                        } else {
                            resolve([]);
                        }
                    }).catch(error => {
                        console.error("请求失败：", error);
                        ELEMENT.Message({
                            showClose: true,
                            message: "请求失败，请稍后重试",
                            type: 'error'
                        });
                        resolve([]);
                    });
                },
                // 处理地区选择变化
                handleRegionChange(value) {
                    if (value && value.length === 3) {
                        this.itemData.province = this.regionMap[value[0]];
                        this.itemData.city = this.regionMap[value[1]];
                        this.itemData.district = this.regionMap[value[2]];
                    } else {
                        this.itemData.province = '';
                        this.itemData.city = '';
                        this.itemData.district = '';
                    }
                },
                // 根据省市区名称获取对应的 code
                getRegionCode(name) {
                    for (let code in this.regionMap) {
                        if (this.regionMap[code] === name) {
                            return code;
                        }
                    }
                    return '';
                },
                // 根据省市区名称设置级联选择器的值
                setRegionValue(province, city, district) {
                    let provinceCode = this.getRegionCode(province);
                    let cityCode = this.getRegionCode(city);
                    let districtCode = this.getRegionCode(district);
                    if (provinceCode && cityCode && districtCode) {
                        this.regionValue = [provinceCode, cityCode, districtCode];
                    } else {
                        this.regionValue = [];
                    }
                }
            }, created() {
                this.searchList();
                // 初始化省份数据
                this.initProvince();
            }
        });
</script>

</body>
</html>
