
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sa="http://www.thymeleaf.org/extras/sa-token">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>菜单按钮</title>
    <!-- element-ui 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" th:href="@{/static/element-ui/index.css}">
    <style>
        .container{
            padding: 5px;
        }

        .container .search-box{
            margin-bottom: 20px;
        }

        .container .content-header{
            margin-bottom: 10px;
        }

        .container .content-header .content-header-right {
            text-align: right;
        }
        
        .spec-item {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }
    </style>
    <script th:src="@{/static/vue/api.js}"></script>
</head>
<body>
<div id="app" class="container">
    <el-card class="box-card search-box" v-show="showSearch">
        <el-form :inline="true" :model="formDto" class="demo-form-inline">
            <el-form-item label="关键词检索">
                <el-input v-model="formDto.keyword" placeholder="请输入关键词"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="searchList">查询</el-button>
            </el-form-item>
        </el-form>
    </el-card>

    <el-card class="box-card">
        <section class="content-header">
            <el-row :gutter="2">
                <el-col :span="11">
                    <el-button sa:hasPermissionOr="business:bizProductSku:list:add,admin" @click="add" type="success" size="mini" icon="el-icon-plus">新增</el-button>
                    <el-button sa:hasPermissionOr="business:bizProductSku:list:del,admin" @click="batchDel" type="danger" size="mini" icon="el-icon-delete">删除</el-button>
                </el-col>
                <div class="content-header-right">
                    <el-button type="primary" @click="showSearchBox" size="mini" icon="el-icon-search" circle></el-button>
                </div>
            </el-row>

        </section>

        <!-- Main content -->
        <section class="content">
            <el-table
                    :data="tableData"
                    style="width: 100%;margin-bottom: 20px;"
                    row-key="id"
                    border
                    @selection-change="handleSelectionChange"
            >
                <el-table-column type="selection" width="55"></el-table-column>
                    <el-table-column prop="id" label="SKU-ID" width="100" ></el-table-column>
                    <el-table-column prop="productId" label="商品ID" width="100" ></el-table-column>
                    <el-table-column prop="specName" label="规格名称" width="100" ></el-table-column>
                    <el-table-column prop="specValues" label="规格属性" width="300" >
                        <template slot-scope="scope">
                            <pre>{{viewJson(scope.row.specValues)}}</pre>
                        </template>
                    </el-table-column>
                    <el-table-column prop="price" label="销售价" width="100" ></el-table-column>
                    <el-table-column prop="originalPrice" label="划线原价" width="100" ></el-table-column>
                    <el-table-column prop="wholesalePrice" label="批发价" width="100" ></el-table-column>
                    <el-table-column prop="stock" label="库存" width="100" ></el-table-column>
                    <el-table-column prop="sales" label="销量" width="100" ></el-table-column>
                    <el-table-column prop="status" label="状态" width="100" >
                        <template slot-scope="scope">
                            <el-tag type="success" v-if="scope.row.status==1">启用</el-tag>
                            <el-tag type="danger" v-if="scope.row.status==0">禁用</el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column prop="createTime" label="创建时间" width="160" ></el-table-column>
                    <el-table-column prop="updateTime" label="更新时间" width="160" ></el-table-column>
                <el-table-column
                        fixed="right"
                        label="操作"
                        width="140">
                    <template slot-scope="scope">
                        <el-tooltip sa:hasPermissionOr="business:bizProductSku:list:edit,admin" class="item" effect="dark" content="编辑" placement="top-start">
                            <el-button @click="edit(scope.row)" type="primary" icon="el-icon-edit" size="mini"
                                       circle></el-button>
                        </el-tooltip>
                        <el-tooltip sa:hasPermissionOr="business:bizProductSku:list:del,admin" class="item" effect="dark" content="删除" placement="top-start">
                            <el-button v-if="scope.row.username != 'admin'" @click="del(scope.row.id)" type="danger" icon="el-icon-delete" size="mini"
                                       circle></el-button>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>

            <div class="page-box" v-show="pageDto.pageCount>1">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        @prev-click="prePage"
                        @next-click="nextPage"
                        :current-page="pageDto.currentPage"
                        :page-size="pageDto.pagerCount"
                        :page-count="pageDto.pageCount"
                        :pager-count="pageDto.pagerCount"
                        layout="sizes,prev, pager, next"
                        :page-sizes="[10, 20, 30, 40, 50, 100]"
                        :total="pageDto.total">
                </el-pagination>
            </div>
        </section>
    </el-card>


    <el-dialog :title="dialogTitle" :visible.sync="addDialogVisible">
        <el-form :model="itemData" :rules="rules" ref="itemData">

                    <el-form-item label="id" prop="id" :label-width="formLabelWidth" style="display: none">
                        <el-input v-model="itemData.id" autocomplete="off"></el-input>
                    </el-form-item>

                        <el-form-item label="商品ID" prop="productId" :label-width="formLabelWidth">
                            <el-input v-model="itemData.productId" autocomplete="off" placeholder="请输入商品ID" ></el-input>
                        </el-form-item>

                        <el-form-item label="规格名称" prop="specName" :label-width="formLabelWidth">
                            <el-input v-model="itemData.specName" autocomplete="off" placeholder="请输入规格名称" ></el-input>
                        </el-form-item>

                        <el-form-item label="规格属性" :label-width="formLabelWidth">
                            <div v-for="(spec, index) in specValueList" :key="index" class="spec-item">
                                <el-input v-model="spec.key" placeholder="键" style="width: 150px; margin-right: 10px"></el-input>
                                <el-input v-model="spec.value" placeholder="值" style="width: 150px; margin-right: 10px"></el-input>
                                <el-button type="danger" @click="removeSpec(index)" size="small">删除</el-button>
                            </div>
                            <el-button type="primary" @click="addSpec" size="small" style="margin-top: 10px">添加规格</el-button>
                        </el-form-item>

                        <el-form-item label="销售价" prop="price" :label-width="formLabelWidth">
                            <el-input v-model="itemData.price" autocomplete="off" placeholder="请输入销售价" ></el-input>
                        </el-form-item>

                        <el-form-item label="划线原价" prop="originalPrice" :label-width="formLabelWidth">
                            <el-input v-model="itemData.originalPrice" autocomplete="off" placeholder="请输入划线原价" ></el-input>
                        </el-form-item>

                        <el-form-item label="批发价" prop="wholesalePrice" :label-width="formLabelWidth">
                            <el-input v-model="itemData.wholesalePrice" autocomplete="off" placeholder="请输入批发价" ></el-input>
                        </el-form-item>

                        <el-form-item label="库存" prop="stock" :label-width="formLabelWidth">
                            <el-input v-model="itemData.stock" autocomplete="off" placeholder="请输入库存" ></el-input>
                        </el-form-item>

                        <el-form-item label="销量" prop="sales" :label-width="formLabelWidth">
                            <el-input v-model="itemData.sales" autocomplete="off" placeholder="请输入销量" ></el-input>
                        </el-form-item>

                        <el-form-item label="状态" prop="status" :label-width="formLabelWidth">
                            <el-select v-model="itemData.status" placeholder="请选择状态">
                                <el-option label="禁用" :value="0"></el-option>
                                <el-option label="启用" :value="1"></el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item label="创建时间" prop="createTime" :label-width="formLabelWidth">
                            <el-date-picker
                                    v-model="itemData.createTime"
                                    align="right"
                                    type="datetime"
                                    value-format="yyyy-MM-dd HH:mm:ss"
                                    placeholder="选择日期"
                                    :picker-options="pickerOptions">
                            </el-date-picker>
                        </el-form-item>

                        <el-form-item label="更新时间" prop="updateTime" :label-width="formLabelWidth">
                            <el-date-picker
                                    v-model="itemData.updateTime"
                                    align="right"
                                    type="datetime"
                                    value-format="yyyy-MM-dd HH:mm:ss"
                                    placeholder="选择日期"
                                    :picker-options="pickerOptions">
                            </el-date-picker>
                        </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="saveOrUpdate">{{dialogTitle}}</el-button>
        </div>
    </el-dialog>

</div>
<!-- element-ui -->
<script src="https://unpkg.com/vue@2/dist/vue.js" th:src="@{/static/vue/vue.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js" th:src="@{/static/vue/axios.min.js}" crossorigin="anonymous"></script>
<script src="https://unpkg.com/element-ui/lib/index.js" th:src="@{/static/element-ui/index.js}"></script>

<script type="text/javascript" th:inline="javascript">
    let ctx = [[@{/}]];
        new Vue({
            el: '#app',
            data: function () {
                return {
                    listUrl: ctx + 'business/bizProductSku/list',
                    delUrl: ctx + 'business/bizProductSku/del?id=',
                    batchDelUrl: ctx + 'business/bizProductSku/batchDel',
                    addUrl: ctx + 'business/bizProductSku/add',
                    editUrl: ctx + 'business/bizProductSku/edit',
                    dialogUrl:'',
                    tableData: [],
                    multipleSelection: [],
                    formDto: {
                        keyword: '',
                        region: ''
                    },
                    showSearch: false,
                    pageDto: {
                        currentPage: 1,
                        pageSize: 10,
                        total: 110,
                        pageCount: 1, //总页数
                        pagerCount: 9, //页码按钮的数量
                    },
                    addDialogVisible: false,
                    itemData: {
                        menuIdList:[],
                    },
                    specValueList: [], // 规格属性列表
                    dialogTitle: '新增',
                    formLabelWidth: '100px',
                    formTimeLabelWidth: '120px',
                    pickerOptions: {
                        disabledDate(time) {
                            return time.getTime() > Date.now();
                        },
                        shortcuts: [{
                            text: '今天',
                            onClick(picker) {
                                picker.$emit('pick', new Date());
                            }
                        }, {
                            text: '昨天',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24);
                                picker.$emit('pick', date);
                            }
                        }, {
                            text: '一周前',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', date);
                            }
                        }]
                    },
                    rules: {
                                    productId: [
                                        { required: true, message: '请输入商品ID', trigger: 'blur' },
                                    ],
                                    specName: [
                                        { required: true, message: '请输入规格名称', trigger: 'blur' },
                                    ],

                                    price: [
                                        { required: true, message: '请输入销售价', trigger: 'blur' },
                                    ],
                                    originalPrice: [
                                        { required: true, message: '请输入划线原价', trigger: 'blur' },
                                    ],
                                    wholesalePrice: [
                                        { required: true, message: '请输入批发价', trigger: 'blur' },
                                    ],
                                    stock: [
                                        { required: true, message: '请输入库存', trigger: 'blur' },
                                    ],
                                    sales: [
                                        { required: true, message: '请输入销量', trigger: 'blur' },
                                    ],
                                    status: [
                                        { required: true, message: '请输入状态 0:禁用 1:启用', trigger: 'blur' },
                                    ],


                    }

                }
            },
            methods: {
                searchList: function () {
                    // 列表检索
                    let url = this.listUrl + '?pageNum=' + this.pageDto.currentPage + '&pageSize=' + this.pageDto.pageSize;
                    axios.post(url, this.formDto).then(r => {
                        if (r.data.code === 200) {
                            let data = r.data.data;
                            this.pageDto.total = Number(data.total);
                            this.pageDto.pageCount = Number(data.pages);
                            this.tableData = data.records;
                        }
                    }).catch(error => {
                        console.error("请求失败：", error);
                        ELEMENT.Message({
                            showClose: true,
                            message: "请求失败，请稍后重试",
                            type: 'error'
                        });
                    })
                },
                prePage() {
                    this.pageDto.currentPage -= 1;
                    this.searchList();
                },
                nextPage() {
                    this.pageDto.currentPage += 1;
                    this.searchList();
                },
                handleSizeChange(val) {
                    this.pageDto.pageSize=val;
                    this.searchList();
                },
                handleCurrentChange(val) {
                    this.pageDto.currentPage=val;
                    this.searchList();
                },
                handleSelectionChange(val) {
                    //当选择项发生变化时会触发该事件
                    this.multipleSelection = val;
                },
                showSearchBox() {
                    this.showSearch = !this.showSearch;
                },
                add() {
                    this.addDialogVisible = true;
                    this.dialogTitle = '新增';
                    this.dialogUrl=this.addUrl;
                    this.itemData = {};
                    this.specValueList = [];
                },
                edit(row) {
                    this.addDialogVisible = true;
                    this.dialogTitle = '编辑';
                    this.itemData = row;
                    this.dialogUrl=this.editUrl;
                    // 将JSON字符串转换为specValueList数组
                    if (row.specValues) {
                        try {
                            const specValues = JSON.parse(row.specValues);
                            this.specValueList = Object.entries(specValues).map(([key, value]) => ({ key, value }));
                        } catch (e) {
                            this.specValueList = [];
                        }
                    } else {
                        this.specValueList = [];
                    }
                },
                addSpec() {
                    this.specValueList.push({ key: '', value: '' });
                },
                removeSpec(index) {
                    this.specValueList.splice(index, 1);
                },
                saveOrUpdate(){
                    // 将specValueList转换为JSON对象
                    const specValuesObj = {};
                    this.specValueList.forEach(item => {
                        if (item.key) {
                            specValuesObj[item.key] = item.value;
                        }
                    });
                    // 将JSON对象转换为字符串并赋值给itemData.specValues
                    this.itemData.specValues = JSON.stringify(specValuesObj);
                    
                    this.$refs['itemData'].validate((valid) => {
                        if (valid) {
                            requestPost(this.dialogUrl, this.itemData);
                        } else {
                            return false;
                        }
                    });
                },
                batchDel() {
                    let ids = this.multipleSelection.map(i => i.id);
                    if (!ids.length) {
                        // 数组为空
                        ELEMENT.Message({
                            showClose: true,
                            message: "您未选中任何内容",
                            type: 'warning'
                        });
                        return false;
                    }
                    ELEMENT.MessageBox.confirm('确定删除选中的列表数据?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        requestPost(this.batchDelUrl, ids);
                    }).catch(() => {
                        ELEMENT.Message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                del(id) {
                    ELEMENT.MessageBox.confirm('确定删除该数据吗?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        requestGet(this.delUrl + id);
                    }).catch(() => {
                        ELEMENT.Message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                viewJson(str){
                    return formatJSON(str)
                }
            }, created() {
                this.searchList();
            }
        });
</script>

</body>
</html>
