<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sa="http://www.thymeleaf.org/extras/sa-token">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>菜单按钮</title>
    <!-- element-ui 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
          th:href="@{/static/element-ui/index.css}">
    <style>
        .container {
            padding: 5px;
        }

        .container .search-box {
            margin-bottom: 20px;
        }

        .container .content-header {
            margin-bottom: 10px;
        }

        .container .content-header .content-header-right {
            text-align: right;
        }
    </style>
</head>
<body>

<div id="app" class="container">
    <el-card class="box-card search-box" v-show="showSearch">
        <el-form :inline="true" :model="formDto" class="demo-form-inline">
            <el-form-item label="关键词检索">
                <el-input v-model="formDto.keyword" placeholder="请输入关键词"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="searchList">查询</el-button>
            </el-form-item>
        </el-form>
    </el-card>

    <el-card class="box-card">
        <section class="content-header">
            <el-row :gutter="2">
                <el-col :span="11">
                    <el-button sa:hasPermissionOr="business:bizProduct:list:add,admin" @click="add" type="success"
                               size="mini" icon="el-icon-plus">新增
                    </el-button>
                    <el-button sa:hasPermissionOr="business:bizProduct:list:del,admin" @click="batchDel" type="danger"
                               size="mini" icon="el-icon-delete">删除
                    </el-button>
                </el-col>
                <div class="content-header-right">
                    <el-button type="primary" @click="showSearchBox" size="mini" icon="el-icon-search"
                               circle></el-button>
                </div>
            </el-row>

        </section>

        <!-- Main content -->
        <section class="content">
            <el-table
                    :data="tableData"
                    style="width: 100%;margin-bottom: 20px;"
                    row-key="id"
                    border
                    @selection-change="handleSelectionChange"
            >
                <el-table-column type="selection" width="55"></el-table-column>
                <el-table-column prop="id" label="产品ID" width="100"></el-table-column>
                <el-table-column prop="merchantId" label="商家ID" width="100"></el-table-column>
                <el-table-column prop="categoryId" label="分类ID" width="100"></el-table-column>
                <el-table-column prop="productName" label="商品名称" width="100"></el-table-column>
                <el-table-column prop="productTitle" label="商品卖点" width="100"></el-table-column>
                <el-table-column prop="mainImage" label="商品主图" width="100">
                    <template slot-scope="scope">
                        <el-image :src="scope.row.mainImage">
                            <div slot="error" class="image-slot">
                                <i class="el-icon-picture-outline"></i>
                            </div>
                        </el-image>
                    </template>
                </el-table-column>
                <el-table-column prop="imageList" label="轮播图列表" width="300">
                    <template slot-scope="scope">
                        <div style="display: flex; flex-wrap: wrap; gap: 4px;">
                            <template v-if="scope.row.imageList && scope.row.imageList.length">
                                <el-image
                                        v-for="(itemImg, idx) in scope.row.imageList"
                                        :key="idx"
                                        :src="itemImg"
                                        fit="cover"
                                        style="width: 60px;border-radius: 4px;">
                                    <div slot="error" class="image-slot">
                                        <i class="el-icon-picture-outline"></i>
                                    </div>
                                </el-image>
                            </template>
                            <span v-else style="color: #999;">暂无图片</span>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="description" label="商品详情" width="100">
                    <template slot-scope="scope">
                        <div v-html="scope.row.description"></div>
                    </template>
                </el-table-column>
                <el-table-column prop="originPlace" label="产地" width="100"></el-table-column>
                <el-table-column prop="isSulfurFree" label="是否无硫" width="100">
                    <template slot-scope="scope">
                        <el-tag type="success" v-if="scope.row.isSulfurFree==1">是</el-tag>
                        <el-tag type="danger" v-if="scope.row.isSulfurFree==0">否</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="dryingLevel" label="干度" width="100"></el-table-column>
                <el-table-column prop="plantingProcess" label="种植工艺" width="100"></el-table-column>
                <el-table-column prop="status" label="状态" width="100">
                    <template slot-scope="scope">
                        <el-tag type="success" v-if="scope.row.status==1">上架</el-tag>
                        <el-tag v-if="scope.row.status==0">下架</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="sortOrder" label="排序值" width="100"></el-table-column>
                <el-table-column prop="extraJson" label="扩展字段" width="100"></el-table-column>
                <el-table-column prop="createTime" label="创建时间" width="160"></el-table-column>
                <el-table-column prop="updateTime" label="更新时间" width="160"></el-table-column>
                <el-table-column
                        fixed="right"
                        label="操作"
                        width="140">
                    <template slot-scope="scope">
                        <el-tooltip sa:hasPermissionOr="business:bizProduct:list:edit,admin" class="item" effect="dark"
                                    content="编辑" placement="top-start">
                            <el-button @click="edit(scope.row)" type="primary" icon="el-icon-edit" size="mini"
                                       circle></el-button>
                        </el-tooltip>
                        <el-tooltip sa:hasPermissionOr="business:bizProduct:list:del,admin" class="item" effect="dark"
                                    content="删除" placement="top-start">
                            <el-button v-if="scope.row.username != 'admin'" @click="del(scope.row.id)" type="danger"
                                       icon="el-icon-delete" size="mini"
                                       circle></el-button>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>

            <div class="page-box" v-show="pageDto.pageCount>1">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        @prev-click="prePage"
                        @next-click="nextPage"
                        :current-page="pageDto.currentPage"
                        :page-size="pageDto.pagerCount"
                        :page-count="pageDto.pageCount"
                        :pager-count="pageDto.pagerCount"
                        layout="sizes,prev, pager, next"
                        :page-sizes="[10, 20, 30, 40, 50, 100]"
                        :total="pageDto.total">
                </el-pagination>
            </div>
        </section>
    </el-card>


    <el-dialog :title="dialogTitle" :visible.sync="addDialogVisible">
        <el-form :model="itemData" :rules="rules" ref="itemData">

            <el-form-item label="id" prop="id" :label-width="formLabelWidth" style="display: none">
                <el-input v-model="itemData.id" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="商家ID" prop="merchantId" :label-width="formLabelWidth">
                <el-input v-model="itemData.merchantId" autocomplete="off" placeholder="请输入商家ID"></el-input>
            </el-form-item>

            <el-form-item label="分类ID" prop="categoryId" :label-width="formLabelWidth">
                <el-input v-model="itemData.categoryId" autocomplete="off" placeholder="请输入分类ID"></el-input>
            </el-form-item>

            <el-form-item label="商品名称" prop="productName" :label-width="formLabelWidth">
                <el-input v-model="itemData.productName" autocomplete="off" placeholder="请输入商品名称"></el-input>
            </el-form-item>

            <el-form-item label="商品卖点" prop="productTitle" :label-width="formLabelWidth">
                <el-input v-model="itemData.productTitle" autocomplete="off" placeholder="请输入商品卖点"></el-input>
            </el-form-item>

            <el-form-item label="商品主图" prop="mainImage" :label-width="formLabelWidth">
                <el-input v-model="itemData.mainImage" autocomplete="off" placeholder="请输入商品主图"></el-input>
                <el-upload
                        class="upload-demo"
                        drag
                        :limit="1"
                        :before-upload="beforeAvatarUpload"
                        :on-success="uploadSuccess"
                        :action="uploadUrl"
                        list-type="picture">
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                    <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
                </el-upload>

            </el-form-item>

            <el-form-item label="轮播图列表" prop="imageList" :label-width="formLabelWidth">
                <div v-if="itemData.imageList && itemData.imageList.length" style="display: flex; flex-wrap: wrap; gap: 8px; margin-bottom: 10px;">
                    <div v-for="(img, index) in itemData.imageList" :key="index" style="position: relative; width: 100px; height: 100px;">
                        <el-image :src="img" fit="cover" style="width: 50px;border-radius: 4px;">
                            <div slot="error" class="image-slot">
                                <i class="el-icon-picture-outline"></i>
                            </div>
                        </el-image>
                        <el-button type="danger" size="mini" circle @click="removeImage(index)" style="position: absolute; top: -8px; right: -8px;">
                            <i class="el-icon-delete"></i>
                        </el-button>
                    </div>
                </div>
                <el-upload
                        class="upload-demo"
                        drag
                        :multiple="true"
                        :limit="5"
                        :on-success="uploadImageListSuccess"
                        :action="uploadUrl"
                        list-type="picture">
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                    <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb，最多上传5张</div>
                </el-upload>

            </el-form-item>

            <el-form-item label="商品详情" prop="description" :label-width="formLabelWidth">
                <el-input type="textarea" v-model="itemData.description" autocomplete="off" placeholder="请输入商品详情"></el-input>
            </el-form-item>

            <el-form-item label="产地" prop="originPlace" :label-width="formLabelWidth">
                <el-input v-model="itemData.originPlace" autocomplete="off" placeholder="请输入产地"></el-input>
            </el-form-item>

            <el-form-item label="是否无硫" prop="isSulfurFree" :label-width="formLabelWidth">
                <el-select v-model="itemData.isSulfurFree" placeholder="是否无硫">
                    <el-option label="否" :value="0"></el-option>
                    <el-option label="是" :value="1"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="干度" prop="dryingLevel" :label-width="formLabelWidth">
                <el-input v-model="itemData.dryingLevel" autocomplete="off" placeholder="请输入干度"></el-input>
            </el-form-item>

            <el-form-item label="种植工艺" prop="plantingProcess" :label-width="formLabelWidth">
                <el-input v-model="itemData.plantingProcess" autocomplete="off" placeholder="请输入种植工艺"></el-input>
            </el-form-item>

            <el-form-item label="状态" prop="status" :label-width="formLabelWidth">
                <el-select v-model="itemData.status" placeholder="请选择状态">
                    <el-option label="下架" :value="0"></el-option>
                    <el-option label="上架" :value="1"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="排序值" prop="sortOrder" :label-width="formLabelWidth">
                <el-input v-model="itemData.sortOrder" autocomplete="off" placeholder="请输入排序值"></el-input>
            </el-form-item>

            <el-form-item label="扩展字段" prop="extraJson" :label-width="formLabelWidth">
                <el-input type="textarea"  v-model="itemData.extraJson" autocomplete="off" placeholder="请输入扩展字段"></el-input>
            </el-form-item>

            <el-form-item label="创建时间" prop="createTime" :label-width="formLabelWidth">
                <el-date-picker
                        v-model="itemData.createTime"
                        align="right"
                        type="datetime"
                        value-format="yyyy-MM-dd HH:mm:ss"
                        placeholder="选择日期"
                        :picker-options="pickerOptions">
                </el-date-picker>
            </el-form-item>

            <el-form-item label="更新时间" prop="updateTime" :label-width="formLabelWidth">
                <el-date-picker
                        v-model="itemData.updateTime"
                        align="right"
                        type="datetime"
                        value-format="yyyy-MM-dd HH:mm:ss"
                        placeholder="选择日期"
                        :picker-options="pickerOptions">
                </el-date-picker>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="saveOrUpdate">{{dialogTitle}}</el-button>
        </div>
    </el-dialog>

</div>
<!-- element-ui -->
<script src="https://unpkg.com/vue@2/dist/vue.js" th:src="@{/static/vue/vue.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js" th:src="@{/static/vue/axios.min.js}"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/element-ui/lib/index.js" th:src="@{/static/element-ui/index.js}"></script>
<script th:src="@{/static/vue/api.js}"></script>
<script type="text/javascript" th:inline="javascript">
    let ctx = [[@{/}]];
        new Vue({
            el: '#app',
            data: function () {
                return {
                    listUrl: ctx + 'business/bizProduct/list',
                    delUrl: ctx + 'business/bizProduct/del?id=',
                    batchDelUrl: ctx + 'business/bizProduct/batchDel',
                    addUrl: ctx + 'business/bizProduct/add',
                    editUrl: ctx + 'business/bizProduct/edit',
                    uploadUrl: ctx + 'upload/image?type=product',
                    dialogUrl: '',
                    tableData: [],
                    multipleSelection: [],
                    formDto: {
                        keyword: '',
                        region: ''
                    },
                    showSearch: false,
                    pageDto: {
                        currentPage: 1,
                        pageSize: 10,
                        total: 110,
                        pageCount: 1, //总页数
                        pagerCount: 9, //页码按钮的数量
                    },
                    addDialogVisible: false,
                    itemData: {
                        menuIdList: [],
                    },
                    dialogTitle: '新增',
                    formLabelWidth: '100px',
                    formTimeLabelWidth: '120px',
                    pickerOptions: {
                        disabledDate(time) {
                            return time.getTime() > Date.now();
                        },
                        shortcuts: [{
                            text: '今天',
                            onClick(picker) {
                                picker.$emit('pick', new Date());
                            }
                        }, {
                            text: '昨天',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24);
                                picker.$emit('pick', date);
                            }
                        }, {
                            text: '一周前',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', date);
                            }
                        }]
                    },
                    rules: {
                        merchantId: [
                            {required: true, message: '请输入商家ID', trigger: 'blur'},
                        ],
                        categoryId: [
                            {required: true, message: '请输入分类ID', trigger: 'blur'},
                        ],
                        productName: [
                            {required: true, message: '请输入商品名称', trigger: 'blur'},
                        ],
                        mainImage: [
                            {required: true, message: '请输入商品主图', trigger: 'blur'},
                        ],
                        description: [
                            {required: true, message: '请输入商品详情', trigger: 'blur'},
                        ],
                        status: [
                            {required: true, message: '请输入状态 0:下架 1:上架', trigger: 'blur'},
                        ],

                    }

                }
            },
            methods: {
                searchList: function () {
                    // 列表检索
                    let url = this.listUrl + '?pageNum=' + this.pageDto.currentPage + '&pageSize=' + this.pageDto.pageSize;
                    axios.post(url, this.formDto).then(r => {
                        if (r.data.code === 200) {
                            let data = r.data.data;
                            this.pageDto.total = Number(data.total);
                            this.pageDto.pageCount = Number(data.pages);
                            const processedData = data.records.map(item => {
                                if (typeof item.imageList === 'string') {
                                    try {
                                        item.imageList = JSON.parse(item.imageList)
                                    } catch {
                                        item.imageList = item.imageList.split(',').map(s => s.trim())
                                    }
                                }
                                return item
                            })
                            this.tableData = processedData;
                        }
                    }).catch(error => {
                        console.error("请求失败：", error);
                        ELEMENT.Message({
                            showClose: true,
                            message: "请求失败，请稍后重试",
                            type: 'error'
                        });
                    })
                },
                prePage() {
                    this.pageDto.currentPage -= 1;
                    this.searchList();
                },
                nextPage() {
                    this.pageDto.currentPage += 1;
                    this.searchList();
                },
                handleSizeChange(val) {
                    this.pageDto.pageSize = val;
                    this.searchList();
                },
                handleCurrentChange(val) {
                    this.pageDto.currentPage = val;
                    this.searchList();
                },
                handleSelectionChange(val) {
                    //当选择项发生变化时会触发该事件
                    this.multipleSelection = val;
                },
                showSearchBox() {
                    this.showSearch = !this.showSearch;
                },
                add() {
                    this.addDialogVisible = true;
                    this.dialogTitle = '新增';
                    this.dialogUrl = this.addUrl;
                    this.itemData = {};
                },
                edit(row) {
                    this.addDialogVisible = true;
                    this.dialogTitle = '编辑';
                    // 确保轮播图列表是数组格式
                    const editData = {...row};
                    if (editData.imageList && typeof editData.imageList === 'string') {
                        try {
                            editData.imageList = JSON.parse(editData.imageList);
                        } catch {
                            editData.imageList = editData.imageList.split(',').map(s => s.trim());
                        }
                    }
                    this.itemData = editData;
                    this.dialogUrl = this.editUrl;
                },
                saveOrUpdate() {
                    this.$refs['itemData'].validate((valid) => {
                        if (valid) {
                            // 处理轮播图列表数据格式
                            const submitData = {...this.itemData};
                            if (submitData.imageList && Array.isArray(submitData.imageList)) {
                                submitData.imageList = JSON.stringify(submitData.imageList);
                            }
                            requestPost(this.dialogUrl, submitData);
                        } else {
                            return false;
                        }
                    });
                },
                batchDel() {
                    let ids = this.multipleSelection.map(i => i.id);
                    if (!ids.length) {
                        // 数组为空
                        ELEMENT.Message({
                            showClose: true,
                            message: "您未选中任何内容",
                            type: 'warning'
                        });
                        return false;
                    }
                    ELEMENT.MessageBox.confirm('确定删除选中的列表数据?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        requestPost(this.batchDelUrl, ids);
                    }).catch(() => {
                        ELEMENT.Message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                del(id) {
                    ELEMENT.MessageBox.confirm('确定删除该数据吗?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        requestGet(this.delUrl + id);
                    }).catch(() => {
                        ELEMENT.Message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                uploadSuccess(res, file, fileList) {
                    console.log("res:", res);
                    if (res.code === 200) {
                        this.itemData.mainImage = res.data;
                    } else {
                        ELEMENT.Message({
                            showClose: true,
                            message: "上传失败，请稍后重试",
                            type: 'warning'
                        });
                    }
                },
                uploadImageListSuccess(res, file, fileList) {
                    console.log("res:", res);
                    if (res.code === 200) {
                        if (!this.itemData.imageList) {
                            this.itemData.imageList = [];
                        }
                        this.itemData.imageList.push(res.data);
                    } else {
                        ELEMENT.Message({
                            showClose: true,
                            message: "上传失败，请稍后重试",
                            type: 'warning'
                        });
                    }
                },
                removeImage(index) {
                    this.itemData.imageList.splice(index, 1);
                },
                beforeAvatarUpload(file) {
                    const isJPG = (file.type === 'image/jpeg' || file.type === 'image/png');
                    const isLt2M = file.size / 1024 / 1024 < 10;
                    if (!isJPG) {
                        ELEMENT.Message.error('上传头像图片只能是 JPG/PNG 格式!');
                    }
                    if (!isLt2M) {
                        ELEMENT.Message.error('上传头像图片大小不能超过 2MB!');
                    }
                    return isJPG && isLt2M;
                },
            }, created() {
                this.searchList();
            }
        });
</script>

</body>
</html>
