$uni-color-primary: #13c2c2;
$uni-color-primary-light: #e6fffb;
$uni-color-primary-dark: #08979c;

$uni-color-success: #52c41a;
$uni-color-success-light: #f6ffed;
$uni-color-warning: #faad14;
$uni-color-warning-light: #fffbe6;
$uni-color-error: #f5222d;
$uni-color-error-light: #fff2f0;

$uni-text-color: #1f1f1f;
$uni-text-color-secondary: #595959;
$uni-text-color-inverse: #ffffff;
$uni-text-color-grey: #8c8c8c;
$uni-text-color-placeholder: #bfbfbf;
$uni-text-color-disable: #d9d9d9;

$uni-bg-color: #ffffff;
$uni-bg-color-grey: #e6fffb;
$uni-bg-color-hover: #e6fffb;
$uni-bg-color-mask: rgba(0, 0, 0, 0.45);
$uni-bg-color-page: #f6ffed;

$uni-border-color: #d9d9d9;
$uni-border-color-light: #e6fffb;
